///* ========================================================================
//   #COLORS
//   ======================================================================== */

// This settings contain color variables

$primary: #00f;
$secndary: #0f0;
$white: #fff;
$black: #000;
$boulder: #7c7c7c;
$iron: #d3d3d4;
$mine-shaft: #333;
$blue: #00f;


$color-main: $blue;
